.quan-ly-container {
    width: 100vw;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.content-container {
    margin-top: 160px;
}

.create-new-entry-btn {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background: rgb(110, 216, 255);
    cursor: pointer;
    font-weight: 700;
    transition: 200ms;
}

.create-new-entry-btn:hover {
    background: rgba(110, 216, 255, 0.699);
}

.button-container {
    position: absolute;
    top: 160px;
    left: 68px;
}

.add-icon {
    vertical-align: middle;
    margin-right: 4px;
}

.show-entry-container {
    width: 70vw;
    padding-left: 70px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;             
    justify-content: flex-start; 
    gap: 20px;                    
    box-sizing: border-box;
}

.entry {
    width: 300px;
    height: 280px;
    background: white;
    border-top-left-radius: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.11);
}

.entry-cover img {
    overflow: hidden;
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.entry-info {
    padding-top: 12px;
    font-weight: 800;
}

.btn-container {
    display: inline-block;
    margin-top: 17px;
}

.download-btn {
    margin-right: 15px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: rgb(110, 216, 255);
    transition: 200ms;
    cursor: pointer;
}

.download-btn:hover {
    background: rgba(110, 216, 255, 0.699);
}

.download-icon {
    vertical-align: middle;
    margin-left: 4px;
}

.xem-btn {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: rgb(110, 216, 255);
    transition: 200ms;
    cursor: pointer;
}

.xem-btn:hover {
    background: rgba(110, 216, 255, 0.699);
}

.xem-icon {
    vertical-align: middle;
    margin-left: 4px;
}

.footer-thongtin {
    margin-top: 10px;
    padding-left: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.copyright-thongtin {
    width: 680px;
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
}
.year-thongtin {
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 70px;
    margin-top: 2px;
    cursor: default;
}