.thu-moi-main-container {
    width: 100vw;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.thu-moi-main-content-container {
    margin-top: 1px;
}

.thu-moi-header {
    position: relative;
    display: flex;    
    justify-content: center;
    align-items: center; 
    height: 235px;
    min-width: 90vw;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
    background: rgb(110, 216, 255);
    color: white;
}

.fa-arrow-thu-moi {
    color: rgb(110, 216, 255);
    cursor: pointer;
}

.circle-background {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 25px;
    border-radius: 40px;
    background: white;
    cursor: pointer;
}

.circle-foreground {
    position: absolute;
    width: 44px;
    height: 44px;
    top: 23px;
    left: 28px;
    border-radius: 40px;
    background: rgb(255, 255, 255); 
    display: flex;         
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quote {
    display: flex;
    text-align: left;  
    text-align: center; 
    font-weight: 900;
    font-size: 30px;  
}

.thu-moi-create-new-entry-btn {
    width: 200px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background: rgb(110, 216, 255);
    cursor: pointer;
    font-weight: 700;
    transition: 200ms;
}

.thu-moi-create-new-entry-btn:hover {
    background: rgba(110, 216, 255, 0.699);
}

.thu-moi-button-container {
    position: absolute;
    top: 160px;
    left: 68px;
}

.add-icon {
    vertical-align: middle;
    margin-right: 4px;
}

.thu-moi-show-entry-container {
    width: 70vw;
    padding-left: 70px;
    margin-right: 0px;
    display: flex;
    flex-wrap: wrap;             
    justify-content: flex-start; 
    gap: 20px;                    
    box-sizing: border-box;
}

.thu-moi-entry {
    width: 300px;
    height: 280px;
    background: white;
    border-top-left-radius: 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.11);
}

.thu-moi-entry-cover img {
    overflow: hidden;
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.thu-moi-entry-info {
    padding-top: 12px;
    font-weight: 800;
}

.thu-moi-btn-container {
    display: inline-block;
    margin-top: 17px;
}

.thu-moi-download-btn {
    margin-right: 15px;
    width: 130px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: rgb(110, 216, 255);
    transition: 200ms;
    cursor: pointer;
}

.thu-moi-download-btn:hover {
    background: rgba(110, 216, 255, 0.699);
}

.thu-moi-download-icon {
    vertical-align: middle;
    margin-left: 4px;
}

.thu-moi-xem-btn {
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background: rgb(110, 216, 255);
    transition: 200ms;
    cursor: pointer;
}

.thu-moi-xem-btn:hover {
    background: rgba(110, 216, 255, 0.699);
}

.xem-icon {
    vertical-align: middle;
    margin-left: 4px;
}

.footer-thongtin {
    margin-top: 10px;
    padding-left: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.copyright-thongtin {
    width: 680px;
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
}
.year-thongtin {
    width: 80px;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    float: right;
    margin-right: 70px;
    margin-top: 2px;
    cursor: default;
}