.sinh-hoat-container {
    width: 100vw;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}

.builder-icon {
    margin-top: 250px;
}

.notice {
    margin-top: 30px;
    font-weight: 700;
    font-size: 20px;
}